p{
    color: aquamarine;
}
*{
    padding: 0;
}
h1{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVkToHUenf4_mOzhYYfYcqJHlMINV-w9Cxaw&usqp=CAU);
height: 50vh ;
width:50vw ;
background-repeat: no-repeat;
background-position:right ;
background-size: contain;
background-color: darkgrey;

}

